{{#paper-nav-container classNames="pairs-app"}}
  {{#paper-content flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools pairs-nav-buttons">
        {{#paper-sidenav-toggle}}
        <div class="pairs-logo">
          <img src="pairs-logo.png" />
        </div>        
        {{/paper-sidenav-toggle}}
        {{#link-to "chat" classNames="md-button md-default-theme" tagName="button"}}
          Chat Home
        {{/link-to}}
        {{#link-to "my.profile" classNames="md-button md-default-theme" tagName="button"}}
          Settings
        {{/link-to}}
      </div>
    {{/paper-toolbar}}  
    {{#paper-content flex-layout="column" flex=true}}
      {{paper-text label="First Name" value=model.first}}
      {{paper-text label="Last Name" value=model.last}}
      <img src={{model.profileImage.thumbUrl}}  class="face"><br>
      {{file-picker user=model serviceType="image" store=store save="save" error="error"}}
      {{#if errors.length}}
        <div class="errors">
          <h2>Errors</h2>
          <ul>
            {{#each error in errors}}
             <li>{{error}}</li>
            {{/each}}
          </ul>
          <button class="btn" {{action 'clearErrors'}}>Clear Errors</button>
        </div>
      {{/if}}
      {{#paper-button raised=true action="updateUser" classNames="md-primary"}}Update User{{/paper-button}}
    {{/paper-content}}
  {{/paper-content}}
{{/paper-nav-container}}