
    {{#paper-toolbar}}
      <div class="md-toolbar-tools pairs-nav-buttons">
        {{#paper-sidenav-toggle}}
        <div class="pairs-logo">
          <img src="pairs-logo.png" />
        </div>
        {{/paper-sidenav-toggle}}
        {{#link-to "chat" classNames="md-button md-default-theme" tagName="button"}}
          Chat Home
        {{/link-to}}
      </div>
    {{/paper-toolbar}}
    {{#paper-content flex-layout="column" flex=true class="form-content"}}
      {{paper-text label="First Name" value=model.first}}
      {{paper-text label="Last Name" value=model.last}}
      {{paper-text label="Email" value=model.email type='email'}}
      {{paper-text label="About Me" value=model.about}}
      {{paper-text label="Authentication Method" value=model.provider disabled=true}}
      {{#if model.githubUsername}}
        {{paper-text label="Github Username" value=model.githubUsername disabled=true}}
        {{#paper-switch checked=model.showGithubUsername}} Show Github Username {{/paper-switch}}        
      {{/if}}
      {{#if model.twitterUsername}}
        {{paper-text label="Twitter Username" value=model.twitterUsername disabled=true}}
        {{#paper-switch checked=model.showTwitterUsername}} Show Twitter Username {{/paper-switch}}
        {{#paper-switch checked=model.showTweets}} Show Tweets on Profile {{/paper-switch}}
      {{/if}}
      {{#if model.facebookId}}
        {{#paper-switch checked=model.showfacebookLink}} Show Facebook Link on Profile {{/paper-switch}}
      {{/if}}
      {{#if model.googleId}}
        {{#paper-switch checked=model.showGoogleLink}} Show Google+ Link on Profile {{/paper-switch}}
      {{/if}}

      {{#if errors.length}}
        <div class="errors">
          <h2>Errors</h2>
          <ul>
            {{#each error in errors}}
             <li>{{error}}</li>
            {{/each}}
          </ul>
          <button class="btn" {{action 'clearErrors'}}>Clear Errors</button>
        </div>
      {{/if}}
      {{#paper-button raised=true action="updateUser" classNames="md-primary"}}Update User{{/paper-button}}
      <p class='avatar'>
        {{#if model.avatarImage}}
          <img src={{model.avatarImage.imageUrl}} class="face">
        {{/if}}
        {{#if model.profileImage.thumbUrl}}
           <img src={{model.profileImage.thumbUrl}}  class="face">
        {{/if}}
        {{file-picker user=model serviceType="image" store=store save="save" error="error" class="filepicker"}}&nbsp;&nbsp;CHOOSE AN AVATAR:
      </p>
      <p class='avatar'>
        {{#each avatars as |avatar|}}
          <img src={{avatar.imageUrl}} {{action 'selectAvatar' avatar}} class="face">
        {{/each}}
      </p>
    {{/paper-content}}

