
    {{#paper-toolbar}}
      <div class="md-toolbar-tools pairs-nav-buttons">
      {{#paper-sidenav-toggle}}
        <div class="pairs-icon">
          {{paper-icon icon="menu"}}
          <img src="pairs-icon.png" />
        </div>
      {{/paper-sidenav-toggle}}
        {{#link-to "chat" classNames="md-button md-default-theme" tagName="button"}}
          Back to Home
        {{/link-to}}
        {{#if allowEdit}}
          {{#link-to "profile.edit" classNames="md-button md-default-theme" tagName="button"}}
            Edit Profile
          {{/link-to}}
        {{/if}}
        {{#paper-button class="md-button md-default-theme" action="logout"}}
          Log Out
        {{/paper-button}}  
      </div>
    {{/paper-toolbar}}
    {{#paper-content flex-layout="column" flex=true class="form-content"}}
      {{#paper-card}}
        {{#if model.profileImage}}
          <img src={{model.profileImage.profileUrl}} alt={{model.fullName}}>
        {{else}}
          <img src="/img/blank-profile.jpeg" alt={{model.fullName}}>
        {{/if}}
        {{#paper-card-content}}
          <h2>{{model.fullName}}</h2>
          <p>
           {{model.about}}
          </p>
        {{/paper-card-content}}
      {{/paper-card}}
    {{/paper-content}}
