{{#paper-toolbar}}
  <div class="md-toolbar-tools pairs-nav-buttons">
    {{#paper-sidenav-toggle}}
      <div class="pairs-icon">
        {{paper-icon icon="menu"}}
        <img src="pairs-icon.png" />
      </div>
    {{/paper-sidenav-toggle}}
    {{#if model.isPrivate}}    
      {{#if sessionUser.avatarImage}}
        <img src={{sessionUser.avatarImage.imageUrl}} style="height: 50px; width: 50px;" class="face">
      {{else if otherPerson.profileImage.url}}
        <img src={{sessionUser.profileImage.thumbUrl}}  class="face">
      {{/if}} 
      {{#link-to "profile" sessionUser.id classNames="md-button md-default-theme"}}
        &nbsp;&nbsp;{{sessionUser.fullName}}&nbsp;&nbsp;        
      {{/link-to}}
      {{#if otherPerson.profileImage}}
        <img src={{otherPerson.profileImage.thumbUrl}} class="face">
      {{/if}} 
      {{#link-to "profile" otherPerson.id classNames="md-button md-default-theme"}}
        &nbsp;&nbsp;{{otherPerson.fullName}}&nbsp;&nbsp;        
      {{/link-to}}      
    {{else}}
      {{model.name}}
    {{/if}}
  </div>
{{/paper-toolbar}}
{{#paper-content classNames="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each model.messages as |message|}}
      {{#paper-item}}
        {{#paper-tile-left}}
          {{#if message.sender.avatarImage}}
            <img src={{message.sender.avatarImage.imageUrl}} class="face">
          {{else if message.sender.profileImage.url}}
            <img src={{message.sender.profileImage.thumbUrl}} class="face">
          {{else}}
            <span class="{{if message.mine 'me' 'them'}}">{{message.sender.initial}}</span>
          {{/if}}
        {{/paper-tile-left}}
        {{#paper-tile-content}}
          <h3>{{message.body}}</h3>
          <p>
            {{ago message.sentAt}} from {{message.sender.fullName}}
          </p>
        {{/paper-tile-content}}
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}
<div class="input-area">
  <div class="input-holder">
    {{input type="text" placeholder="Enter your message here..." value=newMessageBody action="sendMessage" on="enter"}}
  </div>
  {{#paper-button raised=true action="sendMessage" classNames="md-primary"}}
    Send Message
  {{/paper-button}}
</div>
