{{#paper-toolbar}}
  <div class="md-toolbar-tools pairs-nav-buttons">
    {{#paper-sidenav-toggle}}
      <div class="pairs-icon">
        <img src="pairs-icon.png" />
      </div>         
    {{/paper-sidenav-toggle}}
    {{model.name}}: Conversation with 
    {{#each model.people as |person|}}{{person.email}}, {{/each}}
    {{#link-to "chat" classNames="md-button md-default-theme" tagName="button"}}
      Chat Home
    {{/link-to}}
    {{#link-to "account.settings" classNames="md-button md-default-theme" tagName="button"}}
      Settings
    {{/link-to}}
  </div>
{{/paper-toolbar}}  
{{#paper-content classNames="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each model.messages as |message|}}
      {{#paper-item}}
        {{#paper-tile-left}}
          <img src={{message.sender.face}} alt={{message.sender.fullName}} class="face">
        {{/paper-tile-left}}

        {{#paper-tile-content}}
          <h3>{{message.sender.first}}: {{message.body}}</h3>
          <p>
            {{ago message.sentAt}}
          </p>
        {{/paper-tile-content}}
      {{/paper-item}}
      {{paper-divider}} 
    {{/each}}
  {{/paper-list}}
{{/paper-content}}
{{paper-text label="Message" value=newMessageBody}}
{{#paper-button raised=true action="sendMessage" classNames="md-primary"}}
  Send Message
{{/paper-button}}