{{#each model}}
<img src={{url}} alt={{filename}} height="300"><br>
{{/each}}
{{file-picker serviceType="image" store=store save="save" error="error"}}
{{#if errors.length}}
	<div class="errors">
	  <h2>Errors</h2>
	  <ul>
	    {{#each error in errors}}
	     <li>{{error}}</li>
	    {{/each}}
	  </ul>
	  <button class="btn" {{action 'clearErrors'}}>Clear Errors</button>
	</div>
{{/if}}