{{#if session.isAuthenticated}}
  {{outlet}}
{{else}}
  <div class="sign-in-page">
    <div class="background-filter"></div>
    <div class="form-content">
      <div class="pairs-logo-lg">
        <img src="/pairs-logo.png">
      </div>
      {{#liquid-unless moaiSignin class="moaiSignin"}}
        <div class="controls">       
        {{#paper-button raised=true action="facebookAuthenticate" classNames="md-facebook"}}
          <i class="icon--facebook"></i>
          &nbsp;&nbsp;Sign in with <span style="font-weight: 800;">facebook</span>
        {{/paper-button}}&nbsp;&nbsp;
        {{#paper-button raised=true action="twitterAuthenticate" classNames="md-twitter"}}
          <i class="icon--twitter"></i>
          &nbsp;&nbsp;Sign in with  <span style="font-weight: 800;">twitter</span>
        {{/paper-button}}<br><br>        
        {{#paper-button raised=true action="googleAuthenticate" classNames="md-google"}}
          <i class="icon--googleplus"></i>
          &nbsp;&nbsp;Sign in with <span style="font-weight: 800;">google</span>
        {{/paper-button}}&nbsp;&nbsp;
        {{#paper-button raised=true action="githubAuthenticate" classNames="md-github"}}
          <i class="icon--github"></i>
          &nbsp;&nbsp;Sign in with <span style="font-weight: 800;">github</span>
        {{/paper-button}}<br><br>
        {{#paper-button raised=true action="normalSignin" classNames="md-moai"}}
          <img src="/pairs-icon.png" style="height: 16px"/>
          &nbsp;&nbsp;Sign in or register directly with <span style="font-weight: 800;">moai</span>
        {{/paper-button}}
        </div>
      {{else}}
        <div class="input">
          {{paper-text label="E-mail" type="email" value=model.email}}{{#if emailValidated}}{{paper-icon icon="check-circle" size=2}}{{/if}}
        </div>
          <div class="input">
          {{paper-text label="Password" type="password" value=model.password}}{{#if passwordValidated}}{{paper-icon icon="check-circle" size=2}}{{/if}}
        </div>
        {{#liquid-if newAccount class="newAccount"}}   
          <div class="input">
            {{paper-text label="Confirm Password" type="password" value=model.confirmation}}{{#if passwordConfirmed}}{{paper-icon icon="check-circle" size=2}}{{/if}}
          </div>
        {{/liquid-if}}
        <div class="controls">
          {{#paper-button raised=true action="moaiAuthenticate" classNames="md-primary"}}
            {{if newAccount 'Register and Sign In' 'Sign In'}}
          {{/paper-button}}&nbsp;&nbsp;
          {{#paper-switch checked=newAccount}} New Account {{/paper-switch}}
          <br><br>
          <a href="#" {{action "socialSignin"}}>Return to Social Login</a>
        </div>
      {{/liquid-unless}}
    </div>
  </div>
<span id="forkongithub"><a href="https://github.com/moai-im/moai">Fork me on GitHub</a></span>
{{/if}}